 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>ACM@UCR is a professional organization targeted twoards CS, CE, and BI students. We focus on improving our members' knowledge in the field by providing them with an experience to </p>
                </div>
                <div class="col-lg-4">
                    <p>supplement what they learn in class. To do this we offer tutoring sessions, workshops and tech talks by professionals in the field, and setting up networking events with professors and graduate students.</p>
        		</div>
            </div>
	    	<div class="row">
				<img src="img/ucr_logo_cmyk.svg" alt="">
	    	</div>
        </div>
    </section>
